body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
}

footer {
  margin-top: 4rem;
  font-family: sans-serif;
  color: #ccc;
}

a {
  text-decoration: none;
  color: #888;
}

a:hover {
  color: #fff;
  cursor: pointer;
}

#level-title {
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  color: #222;
  font-weight: 900;
  line-height: 2.5;
}

.start-button {
  padding: 1.25rem;
  background-color: #080;
  border-radius: 40px;
  color: #fff;
  text-shadow: 1px 1px #666;
  font-weight: bolder;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
  border: none;
}

.start-button:hover {
  background-color: #0b0;
  text-shadow: 1px 1px #000;
  cursor: pointer;
}

.restart {
  background-color: #a00;
  color: #fff;
}

.restart:hover {
  background-color: #d00;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.btn:hover {
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
